<p id="notice"><%= notice %></p>

<h1>Leavees</h1>

<table>
  <thead>
    <tr>
      <th>Leave from date</th>
      <th>Leave to date</th>
      <th>Reason</th>
      <th>No of days</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @leavees.each do |leavee| %>
      <tr>
        <td><%= leavee.leave_from_date %></td>
        <td><%= leavee.leave_to_date %></td>
        <td><%= leavee.reason %></td>
        <td><%= leavee.no_of_days %></td>
        <td><%= link_to 'Show', employer_employee_leavee_path(id: leavee.id) %></td>
        <td><%= link_to 'Edit', edit_employer_employee_leavee_path(id: leavee.id) %></td>
        <td><%= link_to 'Destroy', employer_employee_leavee_path(id: leavee.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Leavee', new_employer_employee_leavee_path %><br/>


<%= will_paginate @leavees, renderer: BootstrapPagination::Rails  %>

